@use "../../styles/variables" as vars;

.menu-ghost-item-button-wrap {
	margin-top: 5px;
	margin-bottom: 5px;

	.wpmc-display-conditions-button {
		box-shadow:
			inset 0 0 0 1px var(--wp-components-color-accent, var(--wp-admin-theme-color, #{vars.$color-primary})),
			0 0 0 currentColor !important;
	}
}
